@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

:root {
	--bs-nav-link-color: #7db8c3;
	--bs-nav-link-hover-color: #272823;
}

* {
	font-family: "Spoqa Han Sans Neo", "sans-serif";
}
body {
	margin-bottom: 100px;
}

h5 {
	font-size: 18px;
	padding: 10px 10px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-weight: bold;
}

h6 {
	font-size: 18px;
}

p {
	font-size: 14px;
}

section {
	margin: 50px 0px;
}

/* 네비게이션 바 */
nav {
	height: 70px;
}

.nav {
	display: flex;
	flex-wrap: wrap;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}
.navbar-brand {
	font-size: 28px; /* 로고사이즈 */
	color: #272823;
	font-weight: bold;
	padding: 0;
	margin: 0;
}
.navbar {
	font-weight: 500;
}
.navbar-nav {
	padding-left: 30px;
}
.nav-item a {
	font-size: 18px;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
	--bs-navbar-active-color:#272823
	color: var(--bs-nav-link-hover-color)
}

.navbar-nav .nav-link:hover {
	--bs-nav-link-hover-color: #272823;
	color: var(--bs-nav-link-hover-color);
}

.nav-link {
	--bs-nav-link-color: #7db8c3;
	color: var(--bs-nav-link-color);
}

#navbarNavAltMarkup {
	margin-left: 20px;
}

/* 검색 폼 */
.search {
	position: relative;
	display: inline-block;
}
.search input {
	width: 250px;
	border: 1px solid #bbb;
	border-radius: 8px;
	padding: 10px 10px;
	font-size: 14px;
	padding-right: 30px; /* 여백 확보를 위해 오른쪽 패딩 추가 */
}
.search input:focus {
	outline: none; /* 포커스시 기본 아웃라인 제거 */
	border: 2px solid gray; /* 포커스시 테두리 색상 변경 */
}
.search img {
	position: absolute;
	width: 17px;
	top: 50%;
	right: 10px; /* 조정 가능한 값 */
	transform: translateY(-50%);
	cursor: pointer;
	margin-right: 3px;
}

input {
	width: 100%;
	border: 1px solid #bbb;
	border-radius: 8px;
	padding: 10px 10px;
	font-size: 14px;
}

/* 사이트 소개 */
.explain-box {
	color: white;
	background-image: url(/img/sebastian-svenson-LpbyDENbQQg-unsplash.jpg);
	background-size: cover;
	background-position: center;
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.explain-box-video {
	color: #f9f9fa;
	background-color: #7db8c3;
	background-size: cover;
	background-position: center;
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.row.explain-container {
	margin-top: 70px;
}

.row.explain-container a {
	margin: 0px 12px;
	padding: 0px;

}

.explain-title {
	margin-bottom: 20px;
}

.explain-content{
	margin: 0;
}

/* 컨텐츠 카드 */
.main-content-header {
	display: flex;
	position: relative;
	justify-content: space-between;
	align-items: center;
	margin: 20px 0px;
}

.main-content-header a {
	color: gray;
	font-size: 14px;
	text-decoration: none;
	font-weight: 500;
}

.dev-news-section a {
	text-decoration: none;
}


/* .card h-100 {
	display: block;
	margin: 100px 0px 100px 0px;
} */

/* new 버튼 */
.main-tab {
	border: 1px solid lightgray;
	min-width: 120px;
	min-height: 35px;
	background-color: white;
	border-radius: 1000px;
	color: #272823;
	font-weight: 700;
	transition: 0.3s;
	display: inline-block;
	border-radius: 15px;
	text-decoration: none;
	margin: 15px 0px;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
}

/* 개발자 정보 */
.developer-info {
	background-color: #f9f9fa;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 100px;
	padding-right: 100px;
}
